body>section {
	background-color: var(--alt-bg-color);
	padding: 16px 0;
}
input, textarea {
	display: block;
	margin: 8px auto;
	border-radius: 8px;
	background-color: var(--content-bg-color);
	border: none;
	font-size: 14px;
}
h3 {
	text-align: left;
	font-size: 0.8em;
	margin: 0;
	margin-bottom: 8px;
	text-indent: 16px;
	text-transform: uppercase;
	font-weight: initial;
	color: var(--text-color);
}
#warnings {
	color: #fa0;
}
#errors {
	color: red;
}