@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#A6FE06 0%, #A6FE06 49.9%, var(--heading-text-color) 50.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.banner {
    background: url("banner.png") no-repeat center center;
    background-size: cover;
}
.button.app-buy {
    background: linear-gradient(#A6FE06 0%, #A6FE06 49.9%, #007aff 50.1%, #007aff 100%);
    background-attachment: fixed;
}
#shot1 {
    background-image: url(shot1.jpg);
}
#shot2 {
    background-image: url(shot2.jpg);
}