.banner {
    background: linear-gradient(#f6f, #77f);
    display: flex;
    align-items: center;
}
@media (prefers-color-scheme: dark) {
    .banner {
        background: linear-gradient(#bc45bf, #693fca);
    }
}
.intro img {
    width: 200px;
    height: 200px;
    margin: 4px;
    margin-bottom: 16px;
    border-radius: 1000px;
}
.color-bg footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #eee3;
}
.color-bg footer p.minor, .color-bg footer a {
    color: #fff;
}
.developer {
    padding-bottom: 0;
    background: url("setting_game.jpg") no-repeat center center;
    background-size: cover;
}
@media (prefers-color-scheme: dark) {
    .developer {
        background: url("setting_game_dark.jpg") no-repeat center center;
        background-size: cover;
    }
}
.full {
    width: 100vw;
}
.apps {
    display: flex;
    padding: 12px 0;
    padding-bottom: 64px;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    -webkit-overflow-scrolling: touch;
}
.apps a {
    scroll-snap-align: center;
    text-align: center;
    text-decoration: none;
    min-width: 375px;
    margin: 0 calc(25vw - 100px);
    flex-shrink: 0;
}
.apps a:first-child {
    margin: 0;
    width: calc(50vw + 128px);
    padding-left: calc(50vw - 164px);
    padding-right: calc(25vw - 100px);
    width: calc(75vw + 64px);
}
.apps a:last-child {
    margin: 0;
    width: calc(50vw + 128px);
    padding-left: calc(25vw - 100px);
    padding-right: calc(50vw - 164px);
    width: calc(75vw + 64px);
}
.apps a:hover h3 {
    color: var(--heading-text-color);
    text-decoration: underline;
}
@media (max-width: 400px) /* Fix For Small Phones */ {
    .apps a:first-child, .apps a:last-child {
        padding-left: initial;
        padding-right: initial;
    }
}
.apps a img {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 87%;
}
.apps a.landscape img {
    background-size: 94%;
}
.apps a h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.4em;
}
.apps a p {
	font-size: 1.1em;
}
#shot-lp {
    background-image: url(shot_lp.jpg);
}
#shot-fa {
    background-image: url(shot_fa.jpg);
}
#shot-sp {
    background-image: url(shot_sp.jpg);
}
#shot-sparty {
    background-image: url(shot_sparty.jpg);
}
.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (max-width: 490px) /* Compact Width */ {
    .features {
        justify-content: left;
    }
}
.features img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.features figcaption {
    width: 170px;
}
.features figcaption p {
    font-size: 0.8em;
}