.banner {
    background: linear-gradient(22deg, #f6f, #77f);
    display: flex;
    align-items: center;
}
@media (prefers-color-scheme: dark) {
    .banner {
        background: linear-gradient(22deg, #bc45bf, #693fca);
    }
}
.intro img {
    width: 128px;
    height: 128px;
    border-radius: 1000px;
}
.intro h1 {
    font-size: 52px;
}
.developer {
    padding-bottom: 0;
    background: url("backdrop_game.jpg") no-repeat center center;
    background-size: cover;
}
@media (prefers-color-scheme: dark) {
    .developer {
        background: url("backdrop_game_dark.jpg") no-repeat center center;
        background-size: cover;
    }
}
.apps {
    display: flex;
    padding: 12px 0;
    padding-bottom: 64px;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    -webkit-overflow-scrolling: touch;
}
.apps a {
    scroll-snap-align: center;
    text-align: center;
    text-decoration: none;
    min-width: 375px;
    margin: 0 calc(25vw - 110px);
    flex-shrink: 0;
}
.apps a:first-child {
    margin-left: 0;
    padding-left: calc(50vw - 180px);
}
.apps a:last-child {
    margin-right: 0;
    padding-right: calc(50vw - 180px);
}
.apps a:hover h3 {
    color: var(--heading-text-color);
    text-decoration: underline;
}
@media (max-width: 400px) /* Fix For Small Phones */ {
    .apps a:first-child, .apps a:last-child {
        padding-left: initial;
        padding-right: initial;
    }
}
.apps a img {
    margin: 0;
    max-width: 80vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 87%;
}
.apps a.landscape img {
    background-size: 94%;
}
.apps a h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.4em;
}
.apps a p {
	font-size: 1.1em;
}
#shot-lp {
    background-image: url(shot_lp.jpg);
}
#shot-fa {
    background-image: url(shot_fa.jpg);
}
#shot-spencil {
    background-image: url(shot_spencil.jpg);
}
#shot-sparty {
    background-image: url(shot_sparty.jpg);
}