@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#007aff 0%, #007aff 49.9%, var(--heading-text-color) 50.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.banner {
    background: url("banner.png") no-repeat center center;
    background-size: cover;
    image-rendering: crisp-edges;
}
@supports (image-rendering: pixelated) {
    .banner {
        image-rendering: pixelated;
    }
}
.banner .credit-link {
    padding: 8px 16px;
    opacity: 0;
    color: #fffb;
    float: right;
    text-shadow: 0 0 8px #000;
    font-size: 11px;
    transition: 0.2s;
}
.banner:hover .credit-link {
    opacity: 1;
}
.button.app-buy {
    background: linear-gradient(#007aff 0%, #007aff 49.9%, #007aff 50.1%, #007aff 100%);
    background-attachment: fixed;
}
#shot1 {
    background-image: url(shot1.jpg);
}
#shot2 {
    background-image: url(shot2.jpg);
}
#shot3 {
    background-image: url(shot3.jpg);
}
#shot4 {
    background-image: url(shot4.jpg);
}
.supported-features {
    background-color: var(--secondary-bg-color);
}
.supported-features h3 {
    text-align: left;
}
.supported-features section {
    width: 256px;
}
.supported-features ul {
    padding: 0;
}
.supported-features li {
    list-style: none;
    text-align: left;
}
.supported-features img {
    border-radius: 7px;
    vertical-align: middle;
}
.supported-features h4 {
    display: inline-block;
    font-weight: 500;
}