@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#E5C700 0%, #E5C700 59.9%, var(--heading-text-color) 60.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
#shot1 {
    background-image: url(shot1.png);
}
#shot2 {
    background-image: url(shot2.png);
}
#shot3 {
    background-image: url(shot3.png);
}