@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#F9E14B 0%, #F9E14B 39.9%, var(--heading-text-color) 40.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
#shot1 {
    background-image: url(shot1.jpg);
}
#shot2 {
    background-image: url(shot2.jpg);
}