.banner {
    background: radial-gradient(#fb0, #f70);
    padding: 0;
    height: initial;
}
.full {
    width: 100vw;
}
article * {
	text-align: left;
}
article .date {
    text-transform: uppercase;
}
.links a {
    margin: 8px 16px;
}