.banner {
    background: radial-gradient(#fb0, #f70);
}
.full {
    width: 100vw;
}
article * {
	text-align: left;
}
article .date {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--minor-text-color);
}
.links a {
    margin: 8px 16px;
}