.banner.text-color-scroll {
    background: url("banner_color_scroll.png"), linear-gradient(22deg, #fb0, #f70);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.banner.spencil-two {
    background: url("banner_spencil_two.png"), radial-gradient(#0fc, #0a8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}
article section section {
    width: 800px;
	text-align: left;
}
article h1 {
	margin-bottom: 0;
}
article .date {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--minor-text-color);
}
article p {
    font-size: 1.3em;
	margin: 8px 0;
}
article img {
    border-radius: 8px;
    max-width: calc(100% - 8px);
}
@media (max-width: 490px) /* Compact Width */ {
    article p {
    	font-size: 1em;
    }
    pre {
        padding: 16px;
        margin: 16px -12px;
        border-radius: 0;
        max-width: initial;
        border-left: 4px solid var(--border-color);
    }
    pre code, span.code-variable {
        font-size: 14px !important;
    }
}
span.code-variable {
	color: #fff;
	background-color: #08f;
	padding: 1px 10px;
	border-radius: 100px;
	font-family: "Menlo", -apple-system, "San Fransisco", "Helvetica Neue", "Helvetica";
	font-size: 1rem;
	line-height: 1.1;
    white-space: nowrap;
}
span#orange {
	background-color: #f80;
}
.pixel-art {
    width: 256px;
    image-rendering: pixelated;
}
.links a {
    margin: 8px 16px;
}