.banner {
    background: linear-gradient(#FBB040, #FF3527);
}
.banner section.title {
	height: calc(100% - 252px);
	display: flex;
	align-items: center;
}
.banner h1 {
    font-size: 80px;
}
@media (max-width: 490px) /* Compact Width */ {
    .banner h1 {
        font-size: 44px;
    }
}
.packages a {
	display: inline-block;
	width: 512px;
	padding: 8px;
	margin: 8px 0;
	background-color: var(--secondary-bg-color);
	border-radius: 16px;
	text-align: left;
}
.packages a:hover {
    text-decoration: none;
}
.packages p.tag {
	font-size: 1em;
	font-weight: bold;
}