.banner {
    background: linear-gradient(#FBB040, #FF3527);
    display: flex;
    align-items: center;
}
.banner h1 {
    font-size: 80px;
}
@media (max-width: 490px) /* Compact Width */ {
    .banner h1 {
        font-size: 44px;
    }
}