@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#00B9EE 0%, #00B9EE 49.9%, var(--heading-text-color) 50.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.apps div.landscape img {
    background-size: 94%;
}
#shot1 {
    background-image: url(shot1.jpg);
}
#shot2 {
    background-image: url(shot2.jpg);
}
.pad {
    position: relative;
    margin: 12px;
}
.pad img {
    margin: 0;
}
.pad .shot {
    position: absolute;
	width: 94%;
    top: 4.2%;
    left: 3%;
    border-radius: 8px;
}