@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#00B9EE 0%, #00B9EE 49.9%, var(--heading-text-color) 50.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.banner {
    background: url("banner.png") no-repeat center center;
    background-size: cover;
}
.button.app-buy {
    background: linear-gradient(#00b9ee 0%, #00b9ee 49.9%, #08f 50.1%, #08f 100%);
    background-attachment: fixed;
}
.full-promo {
    padding: 0;
}
.full-promo img {
    width: 100vw;
    height: auto;
    margin: 0;
}
@media (max-width: 490px) {
    .links {
        display: none;
    }
}