@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#007aff 0%, #007aff 39.9%, var(--heading-text-color) 40.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.pad {
    position: relative;
    margin: 12px;
}
.pad img {
    margin: 0;
}
.pad .shot {
    position: absolute;
	width: 94%;
    top: 4.2%;
    left: 3%;
    border-radius: 8px;
}