@supports (-webkit-background-clip: text) {
    #title {
        background: linear-gradient(#6900D9 0%, #6900D9 49.9%, var(--heading-text-color) 50.1%, var(--heading-text-color) 100%);
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.banner {
    background: url("banner.jpg") no-repeat center center;
    background-size: cover;
}
.button.app-buy {
    background: linear-gradient(#6900D9 0%, #6900D9 49.9%, #007aff 50.1%, #007aff 100%);
    background-attachment: fixed;
}